<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <div class="menu-items">
            <li><a href="/"/>Home</a></li>
            <li><a href="/shoes/new"/>Add Shoe</a></li>
            <li><a href="/shoes"/>Collection</a></li>
            <li><a href="/shoes/adidas"/>Adidas</a></li>
            <li><a href="/shoes/jordan"/>Jordan</a></li>
            <li><a href="/shoes/nike"/>Nike</a></li>
            <li><a href="/shoes/other"/>Other</a></li>
          </div>
        </div>
      </div>
    </nav>
    <form action="/shoes/update/<%= shoe.id %>/?_method=POST" method="PUT">
      <div><%= shoe.make %></div>
      <div><%= shoe.model %></div>
      <div><%= shoe.colour %></div>
      <div><%= shoe.year %></div>
      <div>$<%= shoe.price %></div>
      <div><%= shoe.sold ? "Sold" : "Still In Collection" %></div>
    </form>

